html, body, div, input, select, ul, li, span, h2, h3 {margin: 0; padding: 0;}
body { color: #001; font-family: Arial; font-size: 16px; }

.global-part {
    display: none;
}

h1 {
    padding: .5em 1em;
    font-size: 130%;
    color: #070;
    background: linear-gradient(to right, #DDD, transparent);
    margin: 0 0 1em 0;
    box-shadow: 0 0 4px 4px #CCC;
}

.page-content {
    padding: 0 1em;
}
.console-view {
    font-family: "Courier New";
    font-size: 90%;
}

.buttons-box {
    padding-top: 1em;
}

.disabled {
    color: #888;
}

.flex-horiz {
    display: flex;
}
.create-entity-part .create-entity-msg {
    padding-left: 2em;
}
.create-entity-warn, .status-msg-warn {
    color: #883;
}
.create-entity-err, .status-msg-err {
    color: red;
}
.create-entity-success, .status-msg-success {
    color: green;
    font-weight: bold;
}

/* Блок элементов формы. Элементы расположены в колонку. Слева наименование.  */
.horiz-ctrl-block {
    display: flex;
    flex-direction: column;
}
.horiz-ctrl-block > div {
    padding: 0.3em 0;
}
.horiz-ctrl-block .title {
    display: inline-block;
    width: 7em;
    text-align: right;
    padding-right: .5em;
}

.bricks-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.bricks-row > div {
    width: 15em;
    border: thin solid silver;
    border-radius: 5px;
    margin-right: .5em;
}
.bricks-row .title {
    display: block;
    font-weight: bold;
    background: #DDD;
    padding: .2em .5em;
}
.rn-radiobox label, .rn-ctrl[data-type=Checkbox] {
    margin: .4em .5em;
    display: block;
}

.rn-ctrl[data-type=CheckNpmName] { margin-left: .7em;}
.rn-ctrl[data-name=description] input { width: 40em;}
.stack-warning {
    margin: 1em 0 0.5em 0;
    font-size: 90%;
    color: #555;
}

/* Main screen */
.main-screen {
    display: flex;
}
.scripts-frame {
    width: 14em;
    border: thin solid silver;
    margin-right: 1em;
}
.scripts-frame h2 {
    background: silver;
    font-size: 16px;
    padding: .1em .4em;
}
.scripts-list {
    padding: .1em .4em;
    min-height: 5em;
    display: flex;
    flex-direction: column;
}
.scripts-list > div { margin: .2em 0;}
.scripts-list button {
    padding: .3em .6em;
    font-size: 110%;
    background: #8bc540;
    color: #FFF;
}
.scripts-list button:hover {
    background: green;
}
.scripts-list button.disabled {
    background: #CCC;
    color: #555;
}
#open-app-wnd {
    color: green;
    padding: .4em .6em;
    margin-bottom: .2em;
    display: inline-block;
}
#open-app-wnd.disabled {
    color: #888;
}
.scripts-frame li {
    margin-left: 1.5em;
    font-size: 90%;
    color: #444;
}
#addons-list button {
    font-size: 100%;
    margin: .5em 0 0 .5em;
    padding: .3em .6em;
    background: #DDD;
}
#addons-list button:hover {
    background: #BBB;
}

.upgrade-form {
    padding: 1em 2em;
}
.upgrade-buttons-box {
    float: right;
}
.upgrade-buttons-box button {
    padding: .5em 1em;
    margin-left: 1em;
}
.j-cancel-upgrade {
    background: #dc143c;
    color: white;
    font-size: 110%;
}
.j-cancel-upgrade:hover {
    background: #ee4e6c;
}
